<div id="<%= dom_id team_assignment %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Player:</strong>
    <%= team_assignment.player_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Team:</strong>
    <%= team_assignment.team_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Game session:</strong>
    <%= team_assignment.game_session_id %>
  </div>
</div>
